.layout {
  height: 100%;
  display: flex;
}
.menu {
  width: 200px;
  background: #eee;
}
.menuItem {
  line-height: 60px;
  text-align: center;
}
.content {
  padding-top: 16px;
  padding-left: 16px;
  flex-grow: 1;
  overflow: auto;
}