.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  height: 60px;
  display: flex;
  flex-wrap: nowrap;
  background: #eee;
}
.headerItem {
  flex-grow: 1;
  line-height: 60px;
  text-align: center;
  border-right: 1px solid #fff;
}
.content {
  flex-grow: 1;
  overflow: auto;
}